@charset "utf-8";
/* CSS Document */
wrapper{
width:60em;
background-color:#ADCAD4;
}
#header{
height: 12.5em;
background-color:#00CCCC;
}

#content{
height:auto;
background-color:#99CC66;
}

#footer{
height:6.25em;
background-color:#000000;
}